.img {
    background-color: rgba(0, 0, 0, 0.338);
}

.details-card {
    background-color: #cccccc30;
    height: 100%;
}

.details-description {
    line-height: 1.7;
    font-size: 18px;
    margin: 30px 0;
}